@font-face {
    font-family: 'AmaticSCB';
    src: url('AmaticSC-Bold.ttf');
}

p {
	font-family: 'AmaticSCB';
	font-size: 30px;
	color: white;
}

body {
  background-image: url('kc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

img {
    float: left;
    width:  370px;
    height: 370px;
    object-fit: cover;
}

h1 {
	font-family: 'AmaticSCB';
	font-size: 60px;
	color: white;
	background-color: black;
}

.ins {
	position: absolute;
	top: 48.2%;
	left: 7%;
	background-color: black;
}

.simu {
	position: absolute;
	top: 48.2%;
	left: 25%;
	background-color: black;
}

.jean {
	position: absolute;
	top: 48.2%;
	left: 48%;
	background-color: black;
}

.paul {
	position: absolute;
	top: 48.2%;
	left: 68%;
	background-color: black;
}

.kev {
	position: absolute;
	top: 48.2%;
	left: 88%;
	background-color: black;
}

.ins_sub {
	position: absolute;
	top: 52%;
	left: 7%;
	background-color: black;
}

.simu_sub {
	position: absolute;
	top: 52%;
	left: 24%;
	background-color: black;
}

.jean_sub {
	position: absolute;
	top: 52%;
	left: 47.5%;
	background-color: black;
}

.paul_sub {
	position: absolute;
	top: 52%;
	left: 68%;
	background-color: black;
}

.kev_sub {
	position: absolute;
	top: 52%;
	left: 88%;
	background-color: black;
}