<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/simu.css">
</head>
<body>
<h1><a>You are Simu Liu, the MCU's first Asian Superhero and you portray Jung the rebellious son on Kim's Convenience. 
You have just found out the show has been cancelled and harbour personal resentments. Do you... </a></h1>
<div class="lbox"><div class="text"><a href="/simu2/"> SHARE YOUR STORY </a></div></div>
<div class="rbox"><div class="text"><a href="/simu_no/"> KEEP IT TO YOURSELF </a></div></div>
</body>
</html>