<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
</head>
<body>
<h1> Kim's Convenience POV Simulator </h1>
<a href="/ins_choi/">
<p class="ins"> Ins Choi </p>
<p class="ins_sub"> (Show Creator) </p>
<img src="../static/images/ins-choi.png" style="position:absolute; left: 0px; bottom: 0px;">
</a>
</body>
<body>
<a href="/simu/">
<p class="simu"> Simu Liu </p>
<p class="simu_sub"> (Portrays Jung) </p>
<img src="../static/images/simu.png" style="position:absolute; left: 400px; bottom: 0px;">
</a>
</body>
<body>
<a href="/kevin/">
<p class="kev"> Kevin White </p>
<p class="kev_sub"> (Show Producer) </p>
<img src="../static/images/kw.png" style="position:absolute; right: 0px; bottom: 0px;">
</a>
</body>
<body>
<a href="/paul/">
<p class="paul"> Paul Sun-Hyung Lee </p>
<p class="paul_sub"> (Portrays Appa) </p>
<img src="../static/images/pshl.png" style="position:absolute; left: 1200px; bottom: 0px;">
</a>
</body>
<body>
<a href="/jean/">
<p class="jean"> Jean Yoon </p>
<p class="jean_sub"> (Portrays Umma) </p>
<img src="../static/images/jy.png" style="position:absolute; left: 800px; bottom: 0px;">
</a>
</body>
</html>