body {
  background-image: url('kcfront.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: black;
  display: inline-block;
}

.cbox {
  width: 150px;
  height: 30px;
  border: 15px solid green;
  padding: 50px;
  margin: auto;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
  background-color: white;
}

.text {
	text-align: center;
	position: relative;
	 top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}