@font-face {
    font-family: 'AmaticSC';
    src: url('AmaticSC-Regular.ttf');
}

@font-face {
    font-family: 'AmaticSCB';
    src: url('AmaticSC-Bold.ttf');
}

p {
	font-family: 'AmaticSCB';
	font-size: 30px;
	color: white;
}

body {
  background-image: url('kc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

img {
    float: left;
    width:  400px;
    height: 400px;
    object-fit: cover;
}

.ins {
	position: absolute;
	top: 46.2%;
	left: 7%;
	background-color: black;
}

.simu {
	position: absolute;
	top: 46.2%;
	left: 25%;
	background-color: black;
}

.jean {
	position: absolute;
	top: 46.2%;
	left: 48%;
	background-color: black;
}

.paul {
	position: absolute;
	top: 46.2%;
	left: 68%;
	background-color: black;
}

.kev {
	position: absolute;
	top: 46.2%;
	left: 86%;
	background-color: black;
}

.ins_sub {
	position: absolute;
	top: 50%;
	left: 7%;
	background-color: black;
}

.simu_sub {
	position: absolute;
	top: 50%;
	left: 25%;
	background-color: black;
}

.jean_sub {
	position: absolute;
	top: 50%;
	left: 48%;
	background-color: black;
}

.paul_sub {
	position: absolute;
	top: 50%;
	left: 68%;
	background-color: black;
}

.kev_sub {
	position: absolute;
	top: 50%;
	left: 86%;
	background-color: black;
}