<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles/ins.css">
</head>
<body>
<h1> You are Ins Choi, a Korean-Canadian and the original playwright of Kim's Convenience. 
You are tasked with bringing the show to television alongside Kevin White, a fellow producer, do you accept? </h1>
<div class="lbox"><div class="text"><a href="/ins_choi2/"> YES. </a></div></div>
<div class="rbox"><div class="text"><a href="/ins_choi_no/"> NO. </a></div></div>
</body>
</html>